header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Warownia", sans-serif;
}
header .banner {
  background-color: black;
  color: white;
  font-family: "Inria Sans", sans-serif;
}
header .bg-danger {
  background-color: rgba(197, 197, 197, 0.199) !important;
}
header .nav-item {
  margin-right: 100px;
}
header .icon {
  color: black !important;
} 

/* ====carrito====== */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

nav {
  background-color: #333;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

#cart-icon {
  position: relative;
}

.cantidad-carrito {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  right: 14px;
  position: absolute;
  display: none;
}

.sumar {
  cursor: pointer;
}
.restar {
  cursor: pointer;
}


.d-block {
  margin: auto;
}

.galeria {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
}
.galeria .container-imagen {
  display: flex;
  width: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
  background: rgba(202, 195, 195, 0.123);
}
.galeria .container-imagen .imagen {
  width: auto;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  filter: brightness(100%);
  transition: filter 0.3s ease;
}
.galeria .container-imagen .imagen:hover {
  filter: brightness(60%);
}
.galeria .container-imagen .overlay h3 {
  color: whitesmoke;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgb(0, 0, 0);
}

footer {
  position: static;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}
.footer-distributed {
  background-color: rgba(126, 123, 123, 0.322);
  box-sizing: border-box;
  widows: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}
.footer-distributed .footer-left .footer-center .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left {
  width: 30%;
}
.footer-distributed .footer-left h3 {
  color: black;
  font: normal 36px "cookie", cursive;
  margin: 0;
}
.footer-distributed .footer-left h3 span {
  color: rosybrown;
}
.footer-distributed .footer-left .footer-links {
  color: #131212;
  margin: 20px 0 12px;
}
.footer-distributed .footer-left .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: rgba(241, 142, 158, 0.562);
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  margin: 10px 15px;
  vertical-align: middle;
}


/* product.cards */
.shop-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
}
.cardd {
  box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.829);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.cardd > img {
  width: 90%;
  height: 250px;
}
.price {
  color: rgb(61, 61, 61);
  font-size: 22px;
}
.cardd button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #5f5f5f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.cardd button:hover {
  opacity: 0.7;
}

/* modal content */
.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: #fff;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* for the top */
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}
.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: #0a0909;
  color: #fff;
  width: 100%;
}
.modal-header-tittle {
  justify-self: start;
}
.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}
.modal-container > div > img {
  height: 120px;
  width: 120px;
}
.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}
/* boton X producto */
.delete-product {
  cursor: pointer;
}



/* .fotos {
  padding-left: 35%;
}
.ft1 {
  width: 50%;
  height: 50%;
}
.ft2 {
  width: 50%;
  height: 50%;
}
.ft3 {
  width: 50%;
  height: 50%;
}
.ft4 {
  width: 50%;
  height: 50%;
} */

/* Contacto */
section {
  background-image: url(../image/fondo-contacto.jpg);
}
section article form {
  width: 450px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 7px;
}

section article form h2 {
  color: black;
  text-align: center;
  margin: 0;
  font-size: 40px;
  margin-bottom: 20px;
}

section article form input,textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  border: none;

}

/* locales */
.local1 {
  text-align: center;
  margin: 0;
  font-size: 20px;
}
.local2 {
  text-align: center;
}

/* ayuda */
.titulo2 {
  text-align: center;
}

ol {
  text-align: center;
}

ol li {
  font-size: 20px;
  font-style: oblique;
}